html {
  scroll-behavior: smooth;
  background-color: #0b78b1;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  color: #0b78b1;
  font-weight: 300;
  text-align: center;
}

h3 {
  font-size: 1.1rem;
  color: #0b78b1;
  font-weight: 300;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  font-size: 1rem;
  background-color: #0b78b1;
  color: white;
  transition: 1s;
  border: none;
  margin: 15px;
}
button:hover {
  background-color: #085781;
  box-shadow: 1px 2px 2px 2px rgba(15, 15, 15, 0.7);
}

input {
  border: none;
  border-radius: 16px;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 9999;
}
#header .logo {
  position: absolute;
  top: 8px;
  left: 64px;
  width: 100px;
}
#header .menu {
  position: absolute;
  top: 16px;
  right: 64px;
}
#header .menu-mobile {
  display: none;
}
#header .menu-top, #header .menu-bottom {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}
#header li {
  color: white;
  padding-left: 32px;
  display: inline;
}
#header li:hover {
  color: #0b78b1;
}
#header li img {
  width: 20px;
}
#header #search-input {
  display: none;
  height: 30px;
  margin-left: 10px;
}

.header {
  height: 160px;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0));
}

.scrolled-header {
  height: 88px;
  background-color: #111111;
}

#main-feature {
  height: 100vh;
  background-image: url("../images/main-bg.jpg");
  background-size: cover;
  top: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}
#main-feature h1 {
  font-size: 4rem;
  font-weight: 300;
  text-shadow: 1px 1px 2px black;
  margin: 0;
}
#main-feature p {
  font-weight: 300;
  text-shadow: 1px 1px 2px black;
  width: 504px;
  margin: 0 auto;
  line-height: 2rem;
}
#main-feature .main-feature-buttons {
  display: inline-block;
}
#main-feature .primary-button {
  background-color: #f06923;
}
#main-feature .explore {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  margin: 0 auto;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
}
#main-feature .explore-word {
  position: absolute;
  top: 15px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  font-size: 0.8rem;
}
#main-feature .explore-arrow {
  width: 12px;
  height: 12px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transform: rotate(45deg);
  position: absolute;
  bottom: 18px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  padding: 2px;
}

#second-third-features {
  background-image: url("../images/blueconcert.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#second-third-features #events-container {
  background-color: #0b78b1;
  transform: skewY(-6deg) scale(0.9);
  padding: 40px 20px;
}
#second-third-features #events {
  transform: skewY(6deg) scale(1);
}
#second-third-features .event-item {
  background-color: #1d1d26;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-column-gap: 16px;
  margin: 20px;
}
#second-third-features .event-item img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}
#second-third-features .event-item p {
  color: white;
}
#second-third-features .event-item .event-content {
  padding: 10px;
}

#fourth-feature {
  background-color: #0b78b1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0.3rem;
  grid-gap: 0.3rem;
  grid-auto-flow: dense;
}
#fourth-feature .card-widget-item:nth-child(1) {
  grid-row: span 2;
  grid-column: span 2;
}
#fourth-feature .card-widget-item:nth-child(6) {
  grid-row: span 2;
  grid-column: span 2;
}
#fourth-feature .image-container {
  background-image: url("https://loremflickr.com/500/500/fun");
  background-size: cover;
}

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}
#footer .footer-image-container {
  background-image: url("../images/footer-bg.jpg");
  background-size: cover;
}
#footer .footer-content-container {
  text-align: center;
  background-color: #111111;
  padding: 32px 64px;
  position: relative;
}
#footer img {
  width: 150px;
  margin: 0 auto;
}
#footer .footer-divider {
  text-align: left;
  width: 64px;
  height: 64px;
  background-color: #111111;
  transform: rotate(45deg);
  position: absolute;
  left: -32px;
  top: 45%;
  z-index: 999;
}
#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
#footer li {
  display: inline;
  margin: 16px;
  text-transform: uppercase;
}
#footer li:hover {
  color: #0b78b1;
}
#footer button {
  background-color: transparent;
  border: 2px solid #f06923;
  color: #f06923;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  #header .logo {
    left: 16px;
  }
  #header .menu {
    display: none;
  }
  #header .menu-mobile {
    display: inline-block;
    position: absolute;
    top: 16px;
    right: 16px;
  }

  #main-feature p {
    width: 352px;
  }

  #second-third-features {
    grid-template-columns: 1fr;
  }
  #second-third-features #events-container {
    transform: skewY(-6deg) scale(1);
    width: 100%;
    margin: 0;
  }

  #footer {
    grid-template-columns: 1fr;
  }
  #footer .footer-divider {
    position: absolute;
    top: -32px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  #footer .footer-content-container {
    padding: 32px 16%;
  }
  #footer li {
    display: block;
  }
}

/*# sourceMappingURL=output.css.map */
