html {
  scroll-behavior: smooth;
  background-color: #0b78b1;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 16px;
  box-sizing: border-box;
}
@media screen and (max-width: 960px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  text-shadow: 1px 1px 2px black;
  margin: 0;
}

h2 {
  color: #0b78b1;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 300;
  margin: 96px 0px 32px 0px;
}

h3 {
  font-size: 1.1rem;
  color: #0b78b1;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  font-size: 1rem;
  background-color: #0b78b1;
  border: none;
  margin: 15px;
  transition: 1s;
  color: white;
}
button:hover {
  box-shadow: 1px 2px 2px 2px rgba(15, 15, 15, 0.5);
}

#header {
  position: fixed;
  width: 100%;
  z-index: 9999;
}
#header .logo {
  position: absolute;
  top: 8px;
  left: 64px;
  width: 104px;
}
@media screen and (max-width: 960px) {
  #header .logo {
    left: 16px;
  }
}
#header .menu {
  position: absolute;
  top: 16px;
  right: 64px;
}
@media screen and (max-width: 960px) {
  #header .menu {
    display: none;
  }
}
#header .menu-mobile {
  display: none;
}
@media screen and (max-width: 960px) {
  #header .menu-mobile {
    display: inline-block;
    position: absolute;
    top: 16px;
    right: 16px;
  }
}
#header .menu-top, #header .menu-bottom {
  list-style-type: none;
  margin: 0px 0px 8px 8px;
  padding: 0;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}
#header .menu-bottom {
  text-transform: uppercase;
}
#header li {
  padding-left: 32px;
  display: inline;
}
#header li:hover {
  color: #0b78b1;
}
#header li img {
  width: 20px;
}
#header li img:hover {
  background-color: #0b78b1;
}
#header #search-input {
  display: none;
  margin-left: 8px;
  margin-top: -4px;
  border: none;
  border-radius: 16px;
  vertical-align: text-top;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.6);
}

.header {
  height: 160px;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0));
}

.scrolled-header {
  height: 88px;
  background-color: #111111;
}

#main-feature {
  height: 100vh;
  background-image: url("../images/main-bg.jpg");
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main-feature p {
  text-shadow: 1px 1px 2px black;
  width: 504px;
  margin: 0 auto;
  line-height: 2rem;
}
@media screen and (max-width: 960px) {
  #main-feature p {
    width: 352px;
  }
}
#main-feature .primary-button {
  background-color: #f06923;
}
#main-feature .explore {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#main-feature .explore-word {
  position: absolute;
  top: 15px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: white;
}
#main-feature .explore-arrow {
  width: 12px;
  height: 12px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transform: rotate(45deg);
  position: absolute;
  bottom: 18px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  padding: 2px;
}

#second-third-features {
  background-image: url("../images/blueconcert.jpg");
  background-size: cover;
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 100px;
}
@media screen and (max-width: 960px) {
  #second-third-features {
    grid-template-columns: 1fr;
  }
}
#second-third-features p {
  font-size: 0.9rem;
}
#second-third-features #whats-new {
  width: 40vw;
  margin: 0 auto;
}
@media screen and (max-width: 960px) {
  #second-third-features #whats-new {
    width: 90vw;
  }
}
#second-third-features #whats-new .carousel-item {
  background-color: #111111;
}
#second-third-features #whats-new .carousel-item img {
  object-fit: cover;
  height: 240px;
  width: 100%;
}
#second-third-features #whats-new .carousel-item .carousel-text {
  padding: 16px;
}
#second-third-features #whats-new .owl-dots {
  text-align: center;
  margin-top: 16px;
}
#second-third-features #whats-new .owl-dot {
  border-radius: 0;
  width: 32px;
  height: 16px;
  margin: 8px;
  border: none;
  background-color: #111111;
}
#second-third-features #whats-new .owl-dot.active {
  background-color: #0b78b1;
}
#second-third-features #events-container {
  background-color: #0b78b1;
  transform: skewY(-3deg);
  padding: 25px;
  margin: 0 auto;
  height: 340px;
  width: 40vw;
}
@media screen and (max-width: 960px) {
  #second-third-features #events-container {
    width: auto;
  }
}
#second-third-features .scroll-container {
  transform: skewY(3deg) scale(1);
  margin-top: 16px;
  height: 320px;
}
#second-third-features .event-item {
  background-color: #1d1d26;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-column-gap: 16px;
  margin-bottom: 16px;
  width: 100%;
}
#second-third-features .event-item img {
  object-fit: cover;
  max-width: 100%;
}
#second-third-features .event-item .event-content {
  padding: 8px;
}

#fourth-feature {
  background-color: #0b78b1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  margin: 0.3rem;
  grid-gap: 0.3rem;
  grid-auto-flow: dense;
}
@media screen and (max-width: 960px) {
  #fourth-feature {
    display: block;
  }
}
#fourth-feature .card-widget-item {
  position: relative;
}
#fourth-feature .card-widget-item:nth-child(1) {
  grid-row: span 2;
  grid-column: span 2;
}
#fourth-feature .card-widget-item:nth-child(4) {
  grid-row: span 2;
  grid-column: span 2;
}
@media screen and (max-width: 960px) {
  #fourth-feature .card-widget-item {
    height: 248px;
    margin-bottom: 4px;
  }
}
#fourth-feature .image-container {
  background-image: url("../images/image2.jpeg");
  height: 100%;
  width: auto;
  background-size: cover;
}
#fourth-feature .card-content {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#fourth-feature .card-overlay {
  background-color: rgba(11, 120, 177, 0.8);
  height: 100%;
  width: 100%;
}
#fourth-feature .card-widget-title {
  background-color: rgba(11, 120, 177, 0.8);
  color: white;
  text-align: right;
  padding: 16px;
  width: 200px;
  height: 24px;
  position: absolute;
  bottom: 20px;
}
#fourth-feature .card-widget-description {
  display: none;
  padding: 0px 0px 16px 0px;
  margin: 0 auto;
  width: 216px;
}
#fourth-feature .more-button {
  display: none;
  margin: 0 auto;
  width: 140px;
  border-radius: 20px;
  font-size: 1rem;
  background-color: #f06923;
  border: none;
  transition: 1s;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 8px;
}
#fourth-feature .more-button:hover {
  box-shadow: 1px 2px 2px 2px rgba(15, 15, 15, 0.5);
}

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 960px) {
  #footer {
    grid-template-columns: 1fr;
  }
}
#footer .footer-image-container {
  background-image: url("../images/footer-bg.jpg");
  background-size: cover;
}
@media screen and (max-width: 960px) {
  #footer .footer-image-container {
    height: 300px;
    width: 100%;
  }
}
#footer .footer-content-container {
  text-align: center;
  background-color: #111111;
  padding: 32px 64px;
  position: relative;
}
@media screen and (max-width: 960px) {
  #footer .footer-content-container {
    padding: 32px 16%;
  }
}
#footer .footer-logo {
  width: 150px;
  margin: 0 auto;
}
#footer .footer-divider {
  text-align: left;
  width: 64px;
  height: 64px;
  background-color: #111111;
  transform: rotate(45deg);
  position: absolute;
  left: -32px;
  top: 45%;
  z-index: 999;
}
@media screen and (max-width: 960px) {
  #footer .footer-divider {
    position: absolute;
    top: -32px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 30px 0px;
}
#footer li {
  display: inline;
  margin: 8px;
  text-transform: uppercase;
}
#footer li:hover {
  color: #0b78b1;
}
@media screen and (max-width: 960px) {
  #footer li {
    display: block;
  }
}
#footer button {
  background-color: transparent;
  border: 2px solid #f06923;
  color: #f06923;
  margin: 0 auto;
}
#footer button:hover {
  background-color: #f06923;
  color: white;
}

/*# sourceMappingURL=output.css.map */
