$font-stack: 'Open Sans', sans-serif;
$primary-blue: rgb(11,120,177);
$primary-blue-transparent: rgba(11,120,177, .8);
$primary-orange: rgb(240,105,35);
$white-transparent: rgba(255,255,255,.6);
$dark-gray: rgb(17,17,17);
$dark-gray-transparent: rgba(17,17,17,.5);
$medium-gray: rgb(29,29,38);
$text-shadow: 1px 1px 2px black;
