@import 'variables';
@import 'mixins';

html {
  scroll-behavior: smooth;
  background-color: $primary-blue;
  font-family: $font-stack;
  font-weight: 300;
  color: white;
  font-size: 16px;
  box-sizing: border-box;
  @include mediaQuery(960px){
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  text-shadow: $text-shadow;
  margin: 0;
}

h2 {
  color: $primary-blue;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 300;
  margin: 96px 0px 32px 0px;
}

h3 {
  font-size: 1.1rem;
  color: $primary-blue;  
  font-weight: 300;
  padding: 0px;
  margin: 0px;
}  

button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  font-size: 1rem;
  background-color: $primary-blue;
  border: none;
  margin: 15px;
  transition: 1s;
  color: white;
  &:hover {
    box-shadow: 1px 2px 2px 2px rgba(15,15,15,.5);
  }
}

#header {
  position: fixed;
  width: 100%; 
  z-index: 9999;
  
  .logo {
    position: absolute;
    top: 8px;
    left: 64px;
    width: 104px;
    @include mediaQuery(960px){
      left: 16px;
    }
  }
  
  .menu {
    position: absolute;
    top: 16px;
    right: 64px;
    @include mediaQuery(960px){
      display: none;
    }
  }
  
  .menu-mobile {
    display: none;
    @include mediaQuery(960px){
      display: inline-block;
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }
  
  .menu-top, .menu-bottom {
    list-style-type: none;
    margin: 0px 0px 8px 8px;
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
  }
  
  .menu-bottom {
    text-transform: uppercase;
  }
  
  li {
    padding-left: 32px;
    display: inline;
    &:hover {
      color: $primary-blue;
    }
  }
  
  li img {
    width: 20px;
    &:hover {
      background-color: $primary-blue;
    }
  }
  
  #search-input {
    display: none;
    margin-left: 8px;
    margin-top: -4px;
    border: none;
    border-radius: 16px;
    vertical-align: text-top;
    height: 20px;
    background-color: rgba(255,255,255,.6);
  }
}

.header {
  height: 160px;
  background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
}

.scrolled-header {
  height: 88px;
  background-color: $dark-gray;
}

#main-feature {
  height: 100vh;
  background-image: url("../images/main-bg.jpg");
  background-size: cover; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  p {
    text-shadow: $text-shadow;
    width: 504px;
    margin: 0 auto;
    line-height: 2rem;
    @include mediaQuery(960px){
      width: 352px;
    }
  }
  
  .primary-button {
    background-color: $primary-orange;
  }
  
  .explore {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    bottom: 30px;
    left: 0; 
    right: 0; 
    margin: 0 auto;
  }
  
  .explore-word {
    position: absolute;
    top: 15px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    color: white;
  }
  
  .explore-arrow {
    width: 12px;
    height: 12px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    transform: rotate(45deg);
    position: absolute;
    bottom: 18px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    padding: 2px;
  } 
}

#second-third-features {
  background-image: url("../images/blueconcert.jpg");
  background-size: cover;
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 100px;
  @include mediaQuery(960px){
    grid-template-columns: 1fr;
  }
  
  p {
    font-size: .9rem;
  }
  
  #whats-new {
    width: 40vw;
    margin: 0 auto;
    @include mediaQuery(960px){
      width: 90vw;
    }

    .carousel-item {
      background-color: $dark-gray;
        img {
          object-fit: cover;
          height: 240px;
          width: 100%;
        }
      
      .carousel-text {
        padding: 16px;
      }
    }
    
    .owl-dots {
      text-align: center;
      margin-top: 16px;
    }
  
    .owl-dot {
      border-radius: 0;
      width: 32px;
      height: 16px;
      margin: 8px;
      border: none;
      background-color: $dark-gray;
      &.active {
        background-color: $primary-blue;
      }
    }
  }
  
  #events-container {
    background-color: $primary-blue;
    transform: skewY(-3deg);
    padding: 25px;
    margin: 0 auto;
    height: 340px;
    width: 40vw;
    @include mediaQuery(960px){
      width: auto;
    }
  }
  
  .scroll-container {
    transform: skewY(3deg) scale(1);
    margin-top: 16px;
    height: 320px;
  }
  
  .event-item {
    background-color: $medium-gray;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-column-gap: 16px;
    margin-bottom: 16px;
    width: 100%;
    img {
      object-fit: cover;
      max-width: 100%;
    }
    .event-content {
      padding: 8px;
    }
  }
  
}

#fourth-feature {
  background-color: $primary-blue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  margin: .3rem;
  grid-gap: .3rem;
  grid-auto-flow: dense;
  @include mediaQuery(960px){
    display: block;
  }
  
  .card-widget-item {
    position: relative;

    &:nth-child(1) {
      grid-row: span 2;
      grid-column: span 2;
    }
    &:nth-child(4) {
      grid-row: span 2;
      grid-column: span 2;
    }
    @include mediaQuery(960px){
      height: 248px;
      margin-bottom: 4px;
    }
  }
  
  .image-container{
    background-image: url("../images/image#{random(6)}.jpeg");
    height: 100%;
    width: auto;
    background-size: cover;
  }
  
  .card-content {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;  
  }
  
  .card-overlay {
    background-color: $primary-blue-transparent;
    height: 100%;
    width: 100%;
  }
  

  
  .card-widget-title {
    background-color: $primary-blue-transparent;
    color: white;
    text-align: right;
    padding: 16px;
    width: 200px;
    height: 24px;
    position: absolute;
    bottom: 20px;
  }
  
  .card-widget-description {
    display: none;
    padding: 0px 0px 16px 0px;
    margin: 0 auto;
    width: 216px;
  }
  
  .more-button {
    display: none;
    margin: 0 auto;
    width: 140px;
    border-radius: 20px;
    font-size: 1rem;
    background-color: $primary-orange;
    border: none;
    transition: 1s;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    &:hover {
      box-shadow: 1px 2px 2px 2px rgba(15,15,15,.5);
    }
  }
}

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include mediaQuery(960px){
    grid-template-columns: 1fr;
  }
  
  .footer-image-container {
    background-image: url("../images/footer-bg.jpg");
    background-size: cover;
    @include mediaQuery(960px){
      height: 300px;
      width: 100%;
    }
  }
  
  .footer-content-container {
    text-align: center;
    background-color: $dark-gray;
    padding: 32px 64px;
    position: relative;
    @include mediaQuery(960px){
      padding: 32px 16%;
    }
  }
  
  .footer-logo {
    width: 150px;
    margin: 0 auto;
  }
  
  .footer-divider {
    text-align: left;
    width: 64px;
    height: 64px;
    background-color: $dark-gray;
    transform: rotate(45deg);
    position: absolute;
    left: -32px;
    top: 45%;
    z-index: 999;
    @include mediaQuery(960px){
      position: absolute;
      top: -32px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  
  ul {
    list-style: none;  
    padding: 0;
    margin: 30px 0px;
  }
  
  li {
    display: inline;
    margin: 8px;
    text-transform: uppercase;
    &:hover {
      color: $primary-blue;
    }
    @include mediaQuery(960px){
      display: block;
    }
  }
  
  button {
    background-color: transparent;
    border: 2px solid $primary-orange;
    color: $primary-orange;
    margin: 0 auto;
    &:hover {
      background-color: $primary-orange;
      color: white;
    }
  }
}